<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>url-shorter</title>
    <link rel="stylesheet" type="text/css" href="../static/main_page.css">
</head>
<body>
<header>
    <h1 class="shadow">url-shorter</h1>
</header>
<main class="box-shadow">
    <form id="url-input">
        <label>
            <input id="url" class="shadow" type="text" name="url" placeholder="Enter URL">
            <input class="button" type="submit" value="Short">
        </label> <br>
    </form>
    <div class="url-output">
        <a id="short-url-link" href="#" target="_blank">
            <span id="short-url-text"></span>
        </a>
        <input id="copy" class="button" type="button" value="Copy">
    </div>
</main>
<script src="../static/main_page.js?v=6"></script>
</body>
</html>